# permissions for end users to edit easyservices.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: easyservice-editor-role
rules:
- apiGroups:
  - app.kubebuilder.io
  resources:
  - easyservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - app.kubebuilder.io
  resources:
  - easyservices/status
  verbs:
  - get
