# permissions for end users to view easyservices.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: easyservice-viewer-role
rules:
- apiGroups:
  - app.kubebuilder.io
  resources:
  - easyservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - app.kubebuilder.io
  resources:
  - easyservices/status
  verbs:
  - get
